
<p>Welcome to the homepage of {{{title}}}...</p>

<table class="table table-bordered">
    <thead> 
        <th>id</th> 
        <th>Name</th>
    </thead> 
    <tbody> 
        {{#bears}} 
        <tr> 
            <td>{{m_id}}</td> 
            <td>{{m_name}}</td> 
        </tr> 
        {{/bears}} 
    </tbody> 
</table> 

